PORT=5000
DB_HOST=db
DB_PORT=5432
DB_NAME=ethiofund_db
DB_USER=ethiofund_user
DB_PASSWORD=ethiofund_password

JWT_SECRET=change_this_to_a_secure_secret
JWT_EXPIRES_IN=7d

PAYMENT_MODE=mock
CHAPA_SECRET_KEY=
CHAPA_PUBLIC_KEY=CHAPUBK_TEST-xxxxxxxxxxxxxxxxxxxxxxxx
CHAPA_ENCRYPTION_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
CHAPA_BASE_URL=https://api.chapa.co/v1

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
VITE_API_URL=http://localhost:5000/api

POSTGRES_DB=ethiofund_db
POSTGRES_USER=ethiofund_user
POSTGRES_PASSWORD=ethiofund_password

PGADMIN_DEFAULT_EMAIL=admin@ethiofund.local
PGADMIN_DEFAULT_PASSWORD=pgadmin123